/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    color: red;
    text-align: center;
    font-size: 2em;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

button {
    background-color: grey;
    color: white;
    padding: 15px 32px;
    margin: 4px 2px;
}

button:disabled,
button[disabled] {
    background-color: lightgrey;
}